In [2]:
import pandas as pd
df=pd.read_excel("./snow.xlsx")

In [3]:
grouped=df[['货物名称','数量']].groupby("货物名称")
list(grouped)

[('IPSAN存储',
         货物名称  数量
  23  IPSAN存储   1),
 ('IPSAN存储A',
         货物名称  数量
  7  IPSAN存储A   1),
 ('IPSAN存储B',
         货物名称  数量
  8  IPSAN存储B   1),
 ('IPSAN存储C',
          货物名称  数量
  10  IPSAN存储C   1),
 ('万兆服务器汇聚交换机',
            货物名称  数量
  12  万兆服务器汇聚交换机   6),
 ('业务汇聚交换机2',
          货物名称  数量
  25  业务汇聚交换机2   4),
 ('云存储1',
     货物名称  数量
  5  云存储1   1),
 ('云存储2',
     货物名称  数量
  6  云存储2   1),
 ('云计算管理服务器',
         货物名称  数量
  4  云计算管理服务器   3),
 ('千兆管理汇聚交换机',
           货物名称  数量
  13  千兆管理汇聚交换机   6),
 ('堡垒机',
     货物名称  数量
  15  堡垒机   1),
 ('大数据HD服务器',
         货物名称  数量
  9  大数据HD服务器  10),
 ('大数据服务器',
        货物名称  数量
  22  大数据服务器  15),
 ('核心交换机',
       货物名称  数量
  11  核心交换机   2
  24  核心交换机   2),
 ('漏洞扫描',
      货物名称  数量
  16  漏洞扫描   1),
 ('管理交换机',
       货物名称  数量
  14  管理交换机   2
  26  管理交换机   2),
 ('通用服务器1',
        货物名称  数量
  17  通用服务器1  16),
 ('通用服务器2',
        货物名称  数量
  18  通用服务器2   9),
 ('通用服务器3',
        货物名称  数量
  19  通用服务器3   8),
 ('通用服务器A',
       货物名称  数量
  0  通用服务器A  25),
 ('通用服务器B',
       货物名称  数量
  1  通用服务器B   2),
 ('通用服务器C',
       货物名称  数量
  2  通用服务器C   4),
 ('高性能GPU服务器',
          货物名称  数量
  3  高性能GPU服务器   8),
 ('高性能GPU服务器1',
            货物名称  数量
  20  高性能GPU服务器1   4),
 ('高性能GPU服务器2',
            货物名称  数量
  21  高性能GPU服务器2   1)]

In [10]:
grouped.sum()

            数量
货物名称
IPSAN存储      1
IPSAN存储A     1
IPSAN存储B     1
IPSAN存储C     1
万兆服务器汇聚交换机   6
业务汇聚交换机2     4
云存储1         1
云存储2         1
云计算管理服务器     3
千兆管理汇聚交换机    6
堡垒机          1
大数据HD服务器    10
大数据服务器      15
核心交换机        4
漏洞扫描         1
管理交换机        4
通用服务器1      16
通用服务器2       9
通用服务器3       8
通用服务器A      25
通用服务器B       2
通用服务器C       4
高性能GPU服务器    8
高性能GPU服务器1   4
高性能GPU服务器2   1